@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url("../Projeto/fontes/idroid.otf") format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: var(--cor0);
    font-family: var(--font-padrão);
}
a.externo:after{
content: '\00a0\1F517';
}
:root {
    --cor0: #d8f4f7;
    --cor1: #47DEB8;
    --cor2: #219477;
    --cor3: #47DE85;
    --cor4: #47D1DE;
    --cor5: #47A2DE;
    --cor6: #4772DE;
    --font-padrão : arial, verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
header {
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0), var(--cor1));
    margin: auto;
    padding: auto;
    padding-top: 20px;
    min-height: 110px;
    text-align: center;
}
header h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 30px;
    font-size: 2,5em;
    width: 500px;
    margin: auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.363);
    
}
header> p{
    color: whitesmoke;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    padding: 10px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.363);
    text-align: center;
    
}
nav{
    background-color: var(--cor1);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    box-shadow: 1px 10px 10px black;
    text-align: center;
}
nav > a{
color: white;
padding: 5px;
padding-right: 100px;
text-decoration: none;
font-weight: bold;
transition-duration: 1s;
text-align: center;


}
nav > a:hover{
    background-color: yellowgreen;
    color: var(--cor6);
    border-radius: 5px;
    text-align: center;
}
article{
    padding: 5px;;
}
div.video{
    background-color: var(--cor2);
    padding: 10px;
    margin: 0px -20px 40px -20px;
    position: relative;
    padding-bottom: 59%;
}
div.video > iframe{
position: absolute;
width: 90%;
top: 5%;
left: 5%;
height: 92%;
}
main{
    background-image: linear-gradient( to bottom, rgb(247, 252, 247), rgb(193, 219, 193));
    min-width: 300px;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
        color: var(--cor3);
        font-weight: bold;
        
    }
main a{
        text-decoration: none;
        font-weight: bold;
        color: var(--cor6);
        
    }
main a:hover{
    text-decoration: underline;
    color: yellowgreen;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350PX;
    display: block;
    margin: auto;
}
main h1 {
    color: var(--cor3);
    font-family: var(--font-android);
    font-weight: normal;
}
main h2 {
font-family: var(--font-android);
color: var(--cor2);
font-size: 1.3em;
font-weight: normal;
background-image: linear-gradient( to right , var(--cor0), transparent);
line-height: 1.5em;
box-shadow: 2px;
text-indent: 1em;
}
aside{
    background-color: rgb(218, 245, 178);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.445);
 
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0';
    ;
}
aside > h3{
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > p {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
   
}
